# when we develop we need to mount and hot fixing
NODE_ENV=development

# when we evaluate project, the container will be light and safe
# NODE_ENV=production

POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_PORT=

BACKEND_PORT=
FRONTEND_PORT=
PRISMA_STUDIO_PORT=
# NODE_OPTIONS=--inspect=0.0.0.0:9229 #for backend debugging
MIGRATION_NAME="migration_$(date +%s)" #for new prisma schema